<html>
  <head>
    <title>궤적</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </head>
  <body role="document">
      <header class="navbar navbar-vert navbar-default">
        <div id="navbar" class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">궤적</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li ><a>여기</a></li>
              <li ><a href="http://intoarena1.cafe24.com/dokuwiki">Wiki</a></li>
              <li><a>Facebook</a></li>
            </ul>
          </div>
        </div>
        
      </header><!-- 내비게이션에 관한 것임. -->  
      <div class="container container-fluid" style="background-image: url('images/staring.jpg'); height: 600px; repeat: no-repeat;">
        
         <div class="opening-template">
          <h1 class="text-header">궤적</h1>
          <p> 지나왔던 모든것들이 다 궤적처럼 가까이 다가왔다가 멀어지거나 하더라.</p>
          <p>또그러더라.</p>
        </div>

      </div> 

  </body>
  </html>