<html>
  <head>
    <title>Codename_[궤적]</title>
    <link rel="stylesheet" href="resource/css/uikit.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="resource/js/uikit.min.js"></script>
  </head>
  <body>
      <nav class="uk-navbar uk-margin-large-bottom">
        <a class="uk-navbar-brand uk-hidden-small "href="index.html">궤적</a>
        <ul class="uk-navbar-nav uk-hidden-small">
          <li class="uk-active"><a>여기</a></li>
          <li ><a href="http://intoarena1.cafe24.com/dokuwiki">Wiki</a></li>
          <li><a>Facebook</a></li>
        </ul>
        
      </nav><!-- 내비게이션에 관한 것임. -->  
      <div class="uk-margin uk-text-contrast uk-text-center uk-flex uk-flex-center uk-flex-middle" data-uk-parallax="{bg: '-200'}" style="background-image: url('resource/image/staring.jpg'); height: 600px; repeat: no-repeat;">
        
        <!--div class="uk-grid" data-uk-grid-margin> 
          <div class="uk-width-medium-1-1">
            <div class="uk-vertial-align uk-text-center">
              <div class="uk-vertical-align-middle uk-width-1-2">
                <h1 class="uk-heading-large" style="color:#efefef">궤적</h1>
                <p class="uk-text-large" style="color:#dddddd">계속 공사중인 홈페이지</p>
              </div>
            </div> 
          </div>
        </div-->

        <div class="uk-width-medium-1-2">
          <h1 class="uk-text-contrast">궤적</h1>
          <p class="uk-text-large">로렘 입섬 돌로 싯 아멧...</p>
        </div>

      </div> 

  </body>
  </html>