body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #232627;
  color: #dedede;
  overflow: hidden;
  background-image: url('/images/staring.jpg');
}

a {
  color: #cccccc;
}

.navbar-default{
  background-color: transparent;
  border-color: transparent;
  color: #efefef;
}

.navbar-brand{
  font:20px;
}

.opening-template{
  text-align : center;
  margin-top : 80px;
  font : 40px;
}

.container{
   
   height: 600px;
   repeat: no-repeat;
}